:host {
    position: absolute;
    bottom: 0;
}

#chatBox {
    padding: 0 0.15rem;
    height: 90%;
    width: 100%;
}

#chatBoxMessages {
    overflow: auto;
    height: 84%;
    width: 99%;
    background-color: rgb(255, 255, 255);
    font-size: 1.25rem;
    margin: 1rem 0;
}

.message {
    word-wrap: break-word;
    margin: 0 auto;
    max-width: 80%;
    width: max-content;
}

.player-message {
    float: right;
    font-size: 20px;
    margin-bottom: 1vh;
    padding: 0.25rem 0;
    width: 14vw;
    text-align: center;
    color: azure;
    border-radius: 30px;
    border-width: 5px;
    inline-size: 12vw;
    background-color: rgba(104, 0, 14, 0.473);
    overflow-wrap: break-word;
    min-height: 2vh;
}

.opponent-message {
    float: left;
    font-size: 20px;
    width: 12vw;
    border-radius: 30px;
    border-width: 5px;
    margin-bottom: 1vh;
    margin-left: 5px;
    padding: 0.25rem 0;
    text-align: center;
    color: azure;
    background-color: rgba(122, 104, 0, 0.479);
    inline-size: 12vw;
    overflow-wrap: break-word;
    min-height: 2vh;
}

.system-message {
    float: left;
    font-size: 20px;
    width: 18vw;
    border-radius: 30px;
    border-width: 5px;
    margin: 0 auto 1vh auto;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
    color: azure;
    background-color: rgb(245 158 11);
    inline-size: 12vw;
    overflow-wrap: break-word;
    min-height: 2vh;
}

.reserve-message {
    float: left;
    font-size: 20px;
    width: 18vw;
    border-radius: 30px;
    border-width: 5px;
    margin: 0 auto 1vh auto;
    padding: 0.5rem 0.5rem;
    text-align: justify;
    color: azure;
    background-color: rgb(245 158 11);
    inline-size: 12vw;
    min-height: 2vh;
    white-space: pre-wrap;
}

.left-message {
    width: 40%;
    float: left;
    padding-left: 5%;
}

.right-message {
    width: 40%;
    float: right;
}

.message-reserve {
    word-wrap: break-word;
    margin: 0 auto;
    max-width: 80%;
    max-height: 10px;
    display: inline;
}

.message-reserve:after {
    content: '';
    display: inline-block;
}

form {
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
}

form > mat-form-field {
    margin-right: 0.5rem;
    width: 100%;
}

form > button {
    margin-bottom: 1rem;
}
