<div class="container">
    <h1 class="header">Auteurs</h1>
    <div *ngFor="let doublon of team" class="justify-colum">
        <div *ngFor="let teammate of doublon">
            <a class="aboutMe" href="{{ teammate.link }}">
                <img src="{{ teammate.img }}" class="img" />
                <div>
                    <h1 class="name">{{ teammate.name }}</h1>
                    <h1 class="description">{{ teammate.description }}</h1>
                </div>
            </a>
        </div>
    </div>
</div>
