<mat-card id="primary-mat-card">
    <mat-stepper #stepper>
        <!-- Mode de Jeu -->
        <mat-step>
            <h1 class="header-comp">Mode de Jeu voulu</h1>
            <mat-card id="Multiplayer" (click)="goToPageForm('create', 'solo')"> <h1>Jouer une parti Solo</h1></mat-card>
            <mat-card id="Multiplayer" (click)="goToPageForm('create')"> <h1>Cree une partie MultiJoueur</h1></mat-card>
            <mat-card id="Multiplayer" (click)="goToPageForm('join')"> <h1>Rejoindre une partie MultiJoueur</h1></mat-card>
        </mat-step>

        <!-- Configuration des parametres-->
        <mat-step>
            <div>
                <mat-icon class="btn-back round" (click)="goBack(); formPageButtonActive = false">arrow_back</mat-icon>
                <h1 class="header-comp">Configurations des Parametres de la partie</h1>
            </div>
            <div *ngIf="createMultiplayer">
                <div class="justify-row">
                    <h1>Entrer votre Nom</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input matInput [formControl]="name" autocomplete="off" (change)="validateVirtualPlayerName()" />
                        <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="justify-row" *ngIf="soloMode">
                    <h1>Profil Joueur Virtuel</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Select</mat-label>
                        <mat-select [(value)]="virtualPlayerType" (selectionChange)="this.getRightVirtualPlayerName($event.source.value)">
                            <mat-option value="Debutant">Joueur virtuel Debutant</mat-option>
                            <mat-option value="Expert">Joueur virtuel Expert</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="justify-row" *ngIf="soloMode">
                    <h1>Joueur Virtuel</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>

                        <input matInput type="text" [disabled]="true" value="{{ virtualPlayerName }}" />
                    </mat-form-field>
                </div>
                <div class="justify-row">
                    <h1>Dictionnaire</h1>
                    <div class="justfy-colunm">
                        <mat-form-field appearance="fill" class="dict">
                            <mat-label>Sélectionnez un dictionnaire </mat-label>
                            <mat-select (selectionChange)="currDict = $event.source.value" required>
                                <mat-option
                                    *ngFor="let dict of dictionnaryService.dictHeaders"
                                    [matTooltip]="dict.description"
                                    matTooltipPosition="right"
                                    matTooltipClass="smaller-tooltip"
                                    [value]="dict"
                                >
                                    {{ dict.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="emptyDict">Veuilliez selectionner un dictionnaire</mat-error>
                    </div>
                </div>
                <div class="justify-row">
                    <p class="text-container">Temps par tour<br />(min:sec)</p>
                    <div class="justify-row" id="timer-box">
                        <button class="inc-dec-btn" id="dec-btn" [disabled]="minValue" (click)="decrementTime()">-</button>
                        <div>{{ time | timer }}</div>
                        <button class="inc-dec-btn" id="inc-btn" [disabled]="maxValue" (click)="incrementTime()">+</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!createMultiplayer">
                <div class="justify-row">
                    <h1>Entrer votre nom</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="name" autocomplete="off" />
                        <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-step>
        <!-- Salle d'attente-->
        <mat-step>
            <div *ngIf="waiting" class="spinner-box">
                <h1 class="header-comp">En attente d'un autre joueur</h1>
                <mat-spinner></mat-spinner>
                <button id="btn-Cancel" class="btn-close" (click)="convert()">convertir La parti en mode Solo</button>
            </div>
            <div *ngIf="!waiting" class="spinner-box">
                <h1 class="header-comp">{{ opponent.name }} veut faire une partie avec vous</h1>
                <div class="justify-row" id="accc-ref-game">
                    <button id="btn-Cancel" class="btn-close" (click)="rejectPlayer()">rejeter</button>
                    <button id="btn-Done" class="btn-next" (click)="startGame()">démarrer</button>
                </div>
            </div>
        </mat-step>
        <!-- List Joueur-->

        <mat-step>
            <mat-icon class="btn-back round" (click)="goBack()">arrow_back</mat-icon>
            <h1 class="align-center">Liste de jeux disponibles</h1>
            <div class="header-list">
                <h1>Nom</h1>
                <h1>Dictionnaire</h1>
                <h1>Temps de jeu</h1>
                <h1 id="status">Statut</h1>
            </div>
            <cdk-virtual-scroll-viewport itemSize="100" class="container">
                <ng-container *ngFor="let game of games$ | async as games" class="parameter">
                    <div *ngIf="game.mode === this.gameMode" class="parameter">
                        <h1>{{ game.creator?.name }}</h1>
                        <h1>{{ game.dict }}</h1>
                        <h1>{{ game.time | timer }} minutes</h1>
                        <button id="btn-Done" class="btn-next" (click)="joinGame(game.id)" [disabled]="game.creator?.name === name.value">
                            {{ game.creator?.name !== name.value ? 'Rejoindre' : 'Vous avez le meme nom' }}
                        </button>
                    </div>
                    <!-- <ng-template #noData></ng-template> -->
                </ng-container>
            </cdk-virtual-scroll-viewport>
            <div *ngIf="games$ | async as game" class="align-center">
                <button *ngIf="game.length > 0" id="btn-Done" [disabled]="game.length <= 1" class="btn-next" (click)="randomPlacement(game)">
                    Placement aléatoire
                </button>
            </div>
        </mat-step>
        <!--Waiting page-->
        <mat-step>
            <div class="spinner-box">
                <h1 class="header-comp">En attente de la confirmation de l'autre joueur</h1>
                <mat-spinner></mat-spinner>
            </div>
        </mat-step>
        <!--Rejected page-->
        <mat-step>
            <div class="spinner-box" *ngIf="reject">
                <h1 class="header-comp">{{ opponent.name }} a refusé votre invitation de jouer</h1>
                <button id="btn-Done" class="btn-next" (click)="goBack()">Ok</button>
            </div>
        </mat-step>
        <!-- dict is non existant -->
        <mat-step>
            <div class="spinner-box">
                <mat-icon class="btn-back round" (click)="goBack()">arrow_back</mat-icon>

                <h1 class="header-comp">Le dictionnaire choisi n'est plus disponible. Veuillez réessayer plus tard avec un nouveau dictionnaire</h1>
            </div>
        </mat-step>
    </mat-stepper>
    <div id="btn">
        <button *ngIf="!nonExistingDict" id="btn-Cancel" class="btn-close" (click)="closeModal()">Cancel</button>
        <button *ngIf="createMultiplayer && soloMode && formPageButtonActive" id="btn-Done" class="btn-next" (click)="startSoloGame()">
            demarer la partie
        </button>
        <button *ngIf="createMultiplayer && !soloMode && formPageButtonActive" id="btn-Done" class="btn-next" (click)="createGame()">
            Créer une partie
        </button>
        <button *ngIf="!createMultiplayer && !soloMode && formPageButtonActive" id="btn-Done" class="btn-next" (click)="listOfGame()">
            Voir la liste de jeux
        </button>
    </div>
</mat-card>
