<mat-card id="primary-mat-card">
    <!-- Stepper -->
    <mat-stepper #stepper>
        <!-- Choix du Mode de Jeu -->
        <mat-step>
            <div id="mode-btn-container">
                <button class="mode-btn" (click)="changeMode(true)">Mode <br />Classique</button>
                <button class="mode-btn" (click)="changeMode(false)">
                    Mode <br />
                    LOG2990
                </button>
            </div>
        </mat-step>

        <!-- Affichage des Meilleurs Scores -->
        <mat-step>
            <div id="mode-score-container">
                <div id="mode-score">
                    {{ this.isClassicScoreChosen ? 'Meilleurs scores - Mode classique' : 'Meilleurs scores - Mode LOG2990' }}
                </div>
            </div>

            <div class="player-score-classic" *ngIf="this.isClassicScoreChosen && this.isServerAvailable">
                <table class="tableTitle">
                    <tr>
                        <td>Nom</td>
                        <td>Score</td>
                    </tr>
                </table>
                <div *ngFor="let classicScore of this.classicScores | keyvalue: sortDescending">
                    <table class="scoreTable">
                        <tr>
                            <td>{{ classicScore.value }}</td>
                            <td>{{ classicScore.key }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="player-score-log" *ngIf="!this.isClassicScoreChosen && this.isServerAvailable">
                <table class="tableTitle">
                    <tr>
                        <td>Nom</td>
                        <td>Score</td>
                    </tr>
                </table>

                <div *ngFor="let logScore of this.logScores | keyvalue: sortDescending">
                    <table class="scoreTable">
                        <tr>
                            <td>{{ logScore.value }}</td>
                            <td>{{ logScore.key }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="player-score-log" *ngIf="!this.isServerAvailable">
                <h1>Le serveur est indisponible</h1>
            </div>
        </mat-step>
    </mat-stepper>
    <div id="btn">
        <button id="btn-Cancel" class="btn-close" (click)="closeModal()">Quitter</button>
    </div>
</mat-card>
