.player-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    min-width: 20ch;
    border: 2px solid;
    color: rgb(92, 40, 40);
    font-weight: bold;
    background-color: rgb(240, 201, 200);
}

.player-panel-active {
    border: 2px solid;
    padding: 10px;
    animation: animate-pulse 2s linear infinite;
}

.player-objective-completed {
    color: rgb(222, 222, 222);
}

@keyframes animate-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
    }
    40% {
        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7);
    }
    80% {
        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0), 0 0 0 10px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 10px rgba(255, 109, 74, 0);
    }
}
