<div #easelContainer class="easel-container">
    <div
        *ngFor="let letter of easelService.easel"
        (click)="onClick(letter)"
        (contextmenu)="onRightClick($event, letter)"
        class="easel-tile"
        [ngClass]="{ manipulation: letter.selectionType === 'manipulation', exchange: letter.selectionType === 'exchange' }"
    >
        <div class="easel-tile-letter">{{ letter.character.toUpperCase() }}</div>
        <div class="easel-tile-score">{{ letter.value }}</div>
    </div>
</div>
