.jeu1-card {
    height: 30vh;
    width: 12vw;
    margin: 5vw;
    padding: 5vw;
    border: 1px solid rgb(49, 49, 73);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.imgs {
    height: 25vh;
}
.text {
    justify-content: center;
}
.text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.jeu1-card:hover {
    box-shadow: 0 0 15px rgb(97, 241, 241);
    cursor: pointer;
    transform: scale(1.3);
}
.test {
    font-size: 2.5vh;
    text-align: center;
    text-shadow: 0 0 1px rgb(36, 36, 36);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(62, 63, 63);
}
